h1{
	font-style: bold;
	font-family: roboto;
    text-align: center;
    

}
.move{
	height: 100px
	width: 100px
    background: red;
    position: relative;
    -webkit-animation: mymove 0.01s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 0.01s infinite;
}

@-webkit-keyframes mymove {
    from {left:10px;}
    to {left: 15px;}
}

@keyframes mymove {
    from {left: 10px;}
    to {left: 15px;}
}
.center2{
	align-content: center;
	text-align: center;
	
}
.center-field {
    margin: 0 auto;
}
.center { align-content: center;
    text-align: center;
    align-content: center;
    position: absolute;
    left: 10%;
    top: 11%;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
   opacity: 10%;
    border-radius: 5px;
   background-color: rgba(236, 240, 241,0.75)
    
}
#random-index {
    text-align: center;
}
.title {
    font-size: 28px;
    font-weight: 900;
    font-color: #34495e;
    padding-bottom: 5px;
    cursor: pointer;
    font-family: roboto;
}

.logo{
   

    cursor: pointer;
    margin-top: -70px;
    border-radius: 50%;
   

}

img[Attributes Style] {
    width: 120px;
    height: 120px;

}
.center-field {
    margin: 0 auto;
}
div {
    display: block;
}
@font-face{
font-family:roboto;
    src:url(font/roboto.ttf);
}

hr{
    width: 67%;
}

.social-icon {
    
    margin-top: -1%;
    font-size: 25px;
    padding: 1px 1px 1px 0px;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.index-nav-link {
    list-style: none;
    padding: 2px 1px 0px 0px;
}
.row {
    width: auto; display: flex; flex-wrap: wrap; align-items: center; text-align:center; }

.col-2{
    color: gold;
    width: 17%;
    align-content: center;
    font-size: 22px;
    text-decoration: none;
}
.background down animate bounceInDown{
    height: 300px;
}
#line{
    background-color: aquamarine;
}

.index-nav-link{
    -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
    animation: mymove 5s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    50% {text-shadow: 20px 20px 30px red;}
}

/* Standard syntax */
@keyframes mymove {
    50% {text-shadow: 10px 20px 30px gold;}
}
.tab{
    text-align: center;
   
    align-content: center;
    color: black;
    }
li {
    
    text-align: -webkit-match-parent;
}

a { font-family: cursive;
    text-decoration: bold;
    text-shadow: 
    font-color: yellow;
    align-content: center;
    margin-left: 1%;
    align-items: center;
}
#random-index a {
    text-transform: uppercase;
    padding:0px;
}
.down{
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
}
.iconani{
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}
.iconani-3{
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}
.iconani-1{
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}
.iconani-2{
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
}
a:hover{
    color: gold;
}
.line{
    color:mediumvioletred;
}